{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block updateAdminRights%} <li ><a href="{{ url_for('auth.updateAdminRights') }}">updateAdminRights</a>{% endblock updateAdminRights%}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Description</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    
    <!--Creating radio buttons to update the ticket status. If blocks are present to change which radio button is checked by default -->
    <div>
    {% if post["ticket_status"] == "Submitted" %}
    <input type="radio" name = "ticket_status" value = "Submitted" Checked>
    <label for="submitted">Submitted</label>
    <input type="radio" name = "ticket_status" value = "In Progress">
    <label for="submitted">In Progress</label>
    <input type="radio" name = "ticket_status" value = "Completed">
    <label for="submitted">Completed</label>
    {% endif %}
    {% if post["ticket_status"] == "In Progress" %}
    <input type="radio" name = "ticket_status" value = "Submitted">
    <label for="submitted">Submitted</label>
    <input type="radio" name = "ticket_status" value = "In Progress" Checked>
    <label for="submitted">In Progress</label>
    <input type="radio" name = "ticket_status" value = "Completed">
    <label for="submitted">Completed</label>
    {% endif %}
    {% if post["ticket_status"] == "Completed" %}
    <input type="radio" name = "ticket_status" value = "Submitted">
    <label for="submitted">Submitted</label>
    <input type="radio" name = "ticket_status" value = "In Progress" >
    <label for="submitted">In Progress</label>
    <input type="radio" name = "ticket_status" value = "Completed" Checked>
    <label for="submitted">Completed</label>
    {% endif %}
    <!--End of radio button block -->
    </div><br>
    <label for="adminBody">Admin Comments</label>
    <textarea name="adminBody" id="adminBody">{{ request.form['adminBody'] or post['adminBody'] }}</textarea>

    
    <input type="submit" value="Submit">
  </form>
  <hr>
  <form action="{{ url_for('ticketLog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}